<body>
  <section class="header7 cid-spqHDbeuJR mbr-fullscreen" id="header7-3">
    <div class="text-right container-fluid">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-5">
          <p class="mbr-text mbr-fonts-style display-1">
            Rent Antique and Vintage Locks, Padlock and door accessories
          </p>
          <div class="mbr-section-btn mt-3">
            <a class="btn btn-warning display-5" href="https://mobiri.se"
              ><span
                class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"
              ></span
              >Click to View our collection</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features12 cid-spqLYFA2Yl" id="features13-a">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="card-wrapper">
            <div class="card-box align-left">
              <h4 class="card-title mbr-fonts-style mb-4 display-2">
                Our Rental Service
              </h4>
              <p class="mbr-text mbr-fonts-style mb-4 display-5">
                We rent out genuine antique and vintage Locks, Padlock and door
                accessories for video production and special events.
              </p>
              <div class="mbr-section-btn">
                <a class="btn btn-warning display-4" href="https://mobiri.se"
                  ><span
                    class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"
                  ></span
                  >View our collection</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="item mbr-flex">
            <div class="icon-box">
              <span class="mbr-iconfont mobi-mbri-layers mobi-mbri"></span>
            </div>
            <div class="text-box">
              <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                <strong>Great selection</strong>
              </h4>
              <h5 class="icon-text mbr-black mbr-fonts-style display-4">
                We provide a vast selection of locks, padlocks and door
                accessories from various time periods and locations
              </h5>
            </div>
          </div>
          <div class="item mbr-flex">
            <div class="icon-box">
              <span class="mbr-iconfont mobi-mbri-cash mobi-mbri"></span>
            </div>
            <div class="text-box">
              <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                <strong>Affordable&nbsp;</strong>
              </h4>
              <h5 class="icon-text mbr-black mbr-fonts-style display-4">
                We strive to make our products available for all levels of
                production with our a flexible per-day payment system
              </h5>
            </div>
          </div>
          <div class="item mbr-flex">
            <div class="icon-box">
              <span class="mbr-iconfont mobi-mbri-lock mobi-mbri"></span>
            </div>
            <div class="text-box">
              <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                <strong>Secure</strong>
              </h4>
              <h5 class="icon-text mbr-black mbr-fonts-style display-4">
                We provide the highest level of security to both our vendors and
                clients
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info3 cid-spqQ9f3GYr" id="info3-d">
    <div
      class="mbr-overlay"
      style="opacity: 0.6; background-color: rgb(62, 82, 120);"
    ></div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-12 col-lg-10">
          <div class="card-wrapper">
            <div class="card-box align-center">
              <h4
                class="card-title mbr-fonts-style align-center mb-4 display-1"
              >
                <strong>Our Installation Service</strong>
              </h4>
              <p class="mbr-text mbr-fonts-style mb-4 display-7">
                We provide a locksmith service
              </p>
              <div class="mbr-section-btn mt-3">
                <a class="btn btn-warning display-4" href="https://mobiri.se"
                  ><span
                    class="mbrib-cursor-click mbr-iconfont mbr-iconfont-btn"
                  ></span
                  >Contact our locksmith</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer3 cid-spqQMDJwfI" once="footers" id="footer3-e">
    <div class="container">
      <div class="media-container-row align-center mbr-white">
        <div class="row row-links">
          <ul class="foot-menu">
            <li class="foot-menu-item mbr-fonts-style display-7">
              Contact&nbsp;<a class="text-white" href="#" target="_blank">us</a>
            </li>
            <li class="foot-menu-item mbr-fonts-style display-7">
              See Product
            </li>
          </ul>
        </div>

        <div class="row row-copirayt">
          <p
            class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7"
          >
            © Copyright 2021 Ananas Creative. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    style="
      background-color: #fff;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
      color: #aaa;
      font-size: 12px;
      padding: 0;
      align-items: center;
      display: flex;
    "
  >
    <a
      href="https://mobirise.site/n"
      style="flex: 1 1; height: 3rem; padding-left: 1rem;"
    ></a>
    <p style="flex: 0 0 auto; margin: 0; padding-right: 1rem;">
      Designed with Mobirise -
      <a href="https://mobirise.site/l" style="color: #aaa;">Check this</a>
    </p>
  </section>
  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
</body>
